@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #f3f3f3;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #EC362D;
    width: 100%;
    height: 70px;
    box-shadow: 3px 3px 3px #BDBDBD;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;;
}

.conteudo-principal {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.seusQuizzes {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px dashed #B9B9B9;
    border-radius: 8px;
    width: 100%;
    height: 200px;
}

.seusQuizzes span {
    font-size: 18px;
    color: #B9B9B9;
    line-height: 24px;
}

.criarQuizz {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 450;
    padding: 12px 30px;
    color: #EC362D;
    border: 1.5px dashed #EC362D;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.criarQuizz:hover {
    background-color: #FFB6C1;
    transform: scale(1.02);
}

.titulo-secao {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 15px;
}

.todosOsQuizzes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.quizz {
    position: relative;
    width: 380px;
    height: 200px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2 ease;
}

.quizz:hover {
    opacity: 0.8;
}

.quizz img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-card {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}


.quizz-escolhido {
    position: relative;
    width: 100%;
    height: 250px;
}

.quizz-escolhido img {
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
}

.titulo-card-escolhido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.container-perguntas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 900px;
    height: 650px;
    margin-top: 40px;
    margin-bottom: 60px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 3px #BDBDBD;
}

.titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
}

.container-perguntas img {
    width: 380px;
    height: 200px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #BDBDBD;
}

.container-resposta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    height: 230px;
    width: auto;
}

.tela2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.esbranquicado {
    opacity: 30%;
}

.erro {
    color: #EC362D;
}

.acerto {
    color: green;
}

.resultado {
    width: 900px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 3px 3px 3px #BDBDBD;
    background-color: #FFFFFF;
}

.resultado img {
    width: 230px;
    height: 250px;
    border-radius: 6px;
}

.resultado .centro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.resultado span.legenda {
    word-wrap: break-word;
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    width: 180px;
    color: #484848;
}


.botao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    gap: 30px;

}


.botoes {
    font-size: 20px;
    font-weight: 400;
    padding: 12px 30px;
    color: #f3f3f3;
    background-color: #EC362D;
    border: 1.5px dashed #EC362D;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tela3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 70px 20px;
    min-height: calc(100vh - 70px);
}

.titulo-tela3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.containerInput {
    width: 630px;
    max-width: 100%;
    min-height: 220px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.containerInput>input {
    border-radius: 5px;
    height: 40px;
    width: 600px;
    max-width: calc(100% - 30px);
    border: 1px solid #BDBDBD;
    font-size: 14px;
    color: #BABABA;
    font-style: italic;
    padding-left: 10px;

}

.titulo-perguntas {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.containerDeCriarPerguntas {
    width: 600px;
    height: 700px;
    box-shadow: 1px 1px 1px #BDBDBD;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: center;
    padding-left: 25px;
    gap: 13px;
}

.containerInputPerguntas {
    width: 600px;
    height: 100px;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.containerInputPerguntas>input {
    border-radius: 5px;
    height: 40px;
    width: 550px;
    max-width: 100%;
    border: 1px solid #BDBDBD;
    font-size: 14px;
    color: #BABABA;
    font-style: italic;
    padding-left: 10px;

}

.esconde {
    display: none;
}